In [ ]:
import pandas as pd
import numpy as np

In [ ]:
lj_metadata = "/home/ubuntu/" + "data/wavefake_data/LJSpeech_1.1/metadata.csv"

In [ ]:
df = pd.read_csv(lj_metadata, sep="|", names=['id','ts1','ts2'])

,id,ts1,ts2
0,LJ001-0001,"Printing, in the only sense with which we are ...","Printing, in the only sense with which we are ..."
1,LJ001-0002,in being comparatively modern.,in being comparatively modern.
2,LJ001-0003,For although the Chinese took impressions from...,For although the Chinese took impressions from...
3,LJ001-0004,"produced the block books, which were the immed...","produced the block books, which were the immed..."
4,LJ001-0005,the invention of movable metal letters in the ...,the invention of movable metal letters in the ...
...,...,...,...
13095,LJ050-0274,made certain recommendations which it believes...,made certain recommendations which it believes...
13096,LJ050-0275,materially improve upon the procedures in effe...,materially improve upon the procedures in effe...
13097,LJ050-0276,"As has been pointed out, the Commission has no...","As has been pointed out, the Commission has no..."
13098,LJ050-0277,with the active cooperation of the responsible...,with the active cooperation of the responsible...
13099,LJ050-0278,the recommendations we have here suggested wou...,the recommendations we have here suggested wou...

In [ ]:
np.all(df['ts1'] == df['ts2'])

False

In [ ]:
np.sum(df['ts1'] == df['ts2'])

11579

In [ ]:
df['match'] = df['ts1'] == df['ts2']

In [ ]:
df[df['match']==False]

,id,ts1,ts2,match
6,LJ001-0007,"the earliest book printed with movable types, ...","the earliest book printed with movable types, ...",False
23,LJ001-0024,But the first Bible actually dated (which also...,But the first Bible actually dated (which also...,False
30,LJ001-0031,In 1465 Sweynheim and Pannartz began printing ...,In fourteen sixty-five Sweynheim and Pannartz ...,False
33,LJ001-0034,"They printed very few books in this type, thre...","They printed very few books in this type, thre...",False
37,LJ001-0038,while in 1470 at Paris Udalric Gering and his ...,while in fourteen seventy at Paris Udalric Ger...,False
...,...,...,...,...
13057,LJ050-0236,"Thus, in the 4 months following the assassinat...","Thus, in the four months following the assassi...",False
13058,LJ050-0237,"the FBI, on 16 separate occasions, supplied a ...","the FBI, on sixteen separate occasions, suppli...",False
13060,LJ050-0239,"From February 11 through June 30, 1964,","From February eleven through June thirty, nine...",False
13061,LJ050-0240,"the Service had the advantage of 9,500 hours o...",the Service had the advantage of nine thousand...,False
13087,LJ050-0266,"The exchange of letters dated August 31, 1964,",The exchange of letters dated August thirty-on...,False

In [ ]:
df.iloc[0,:].ts1

'Printing, in the only sense with which we are at present concerned, differs from most if not from all the arts and crafts represented in the Exhibition'

In [ ]:
df.iloc[30,:].ts1

'In 1465 Sweynheim and Pannartz began printing in the monastery of Subiaco near Rome,'

In [ ]:
df.iloc[400,:].ts1

'The shameful malpractices of Bambridge,'

In [ ]:
df.iloc[12096,:]

id                                            LJ047-0042
ts1    and unwilling to answer questions regarding hi...
ts2    and unwilling to answer questions regarding hi...
Name: 12096, dtype: object

In [ ]:
df.iloc[12096,:].ts1

'and unwilling to answer questions regarding his motive for going to the Soviet Union.'

## Deeplake 

https://github.com/activeloopai/deeplake

In [ ]:
import deeplake

In [ ]:
ds = deeplake.load('hub://activeloop/LibriSpeech-train-clean-360')

hub://activeloop/LibriSpeech-train-clean-360 loaded successfully.

This dataset can be visualized in Jupyter Notebook by ds.visualize() or at https://app.activeloop.ai/activeloop/LibriSpeech-train-clean-360

In [ ]:
dataloader = ds.pytorch(num_workers=0, batch_size=1, shuffle=False)

In [ ]:
next(iter(dataloader))

IterableOrderedDict([('audios',
                      tensor([[[27.],
                               [22.],
                               [21.],
                               ...,
                               [17.],
                               [18.],
                               [19.]]], dtype=torch.float64)),
                     ('transcripts', ["TOM THE PIPER'S SON\n"]),
                     ('index', tensor([[0]]))])

In [ ]:
dataloader = ds.tensorflow()

In [ ]:
dataloader

In [ ]:
import tensorflow_io
import tensorflow_datasets as tfds